/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
:root {
  --colors-white: #ffffff;
  --colors-indigo-700: #4338ca;
  --colors-indigo-200: #c7d2fe;
  --colors-indigo-50: #eef2ff;
  --colors-green-700: #15803d;
  --colors-green-200: #bbf7d0;
  --colors-green-50: #f0fdf4;
  --colors-amber-700: #b45309;
  --colors-amber-200: #fde68a;
  --colors-amber-50: #fffbeb;
  --colors-red-600: #dc2626;
  --colors-red-200: #fecaca;
  --colors-red-50: #fef2f2;
  --colors-neutral-900: #171717;
  --colors-neutral-600: #525252;
  --colors-neutral-200: #e6e6e6;
  --colors-gray-50: #f9fafb;
}

/* Base class */
.badge {
  display: flex;
  align-items: center;

  text-align: center;

  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
}

/* Size classes */
.badge_size_sm {
  height: 20px;
  padding: 2px 6px;

  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.badge_size_md {
  height: 24px;
  padding: 2px 8px;

  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.badge_size_lg {
  height: 28px;
  padding: 4px 10px;

  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Color classes */
.badge_color_neutral {
  color: var(--colors-neutral-600);

  border-color: var(--colors-neutral-200);
  background-color: var(--colors-gray-50);
}
.badge_color_error {
  color: var(--colors-red-600);

  border-color: var(--colors-red-200);
  background-color: var(--colors-red-50);
}
.badge_color_warning {
  color: var(--colors-amber-700);

  border-color: var(--colors-amber-200);
  background-color: var(--colors-amber-50);
}
.badge_color_success {
  color: var(--colors-green-700);

  border-color: var(--colors-green-200);
  background-color: var(--colors-green-50);
}
.badge_color_brand {
  color: var(--colors-indigo-700);

  border-color: var(--colors-indigo-200);
  background-color: var(--colors-indigo-50);
}

body {
  margin: 0;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;

  padding: 200px 0;
}

* {
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-rows: repeat(5, 28px);
  grid-template-columns: 45px 54px 58px;
  align-items: center;
  gap: 24px;

  width: 240px;

  margin: 0 auto;
}
